{% extends "admin/base.html" %} {% block content %}
<div class="flex justify-center text-center align-center">
  <h1 class="text-5xl font-bold">ADMIN PANEL</h1>
</div>
<div class="flex justify-center align-center w-full">
  <div class="relative overflow-x-auto flex justify-center align-center">
    <table
      class="text-sm text-left rtl:text-right text-gray-500 w-[80vw]"
      id="blogs_table"
    >
      <thead class="text-xs text-gray-700 uppercase bg-gray-50">
        <tr>
          <th scope="col" class="px-6 py-3">S.no</th>
          <th scope="col" class="px-6 py-3">Title</th>
          <th scope="col" class="px-6 py-3">Author</th>
          <th scope="col" class="px-6 py-3">Short Description</th>
          <th scope="col" class="px-6 py-3">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for blog in blogs_data %}
        <tr class="bg-white border-b" key="{{blog[0]}}">
          <th
            scope="row"
            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
          >
            {{ blog[0]}}
          </th>
          <td class="px-6 py-4">{{ blog[1]}}</td>
          <td class="px-6 py-4">{{ blog[5]}}</td>
          <td class="px-6 py-4">{{ blog[2] }}</td>
          <td class="px-6 py-4">
            <button
              type="button"
              id="{{blog[0]}}"
              class="focus:outline-none text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 edit_blog_btn"
            >
              Edit
            </button>
            <button
              type="button"
              id="{{blog[0]}}"
              class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 delete_blog"
            >
              Delete
            </button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<!-- Modals -->
<!-- Edit Modal -->
<div
  class="modal fade"
  id="editModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="editModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg modal-dialog-centered flex justify-center align-center" role="document">
    <div class="modal-content w-[85vw]">
      <div class="modal-header flex justify-between">
        <h1 class="sm:text-3xl text-xl font-medium title-font text-gray-900">
          Edit Blog
        </h1>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true" class="text-xl">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form onsubmit="return edit_blog(event);">
          <div class="">
            <div class="mx-auto">
              <div class="">
                <label for="snoEdit" class="leading-7 text-sm text-gray-600"
                  >S.No</label
                >
                <input
                  type="text"
                  id="snoEdit"
                  name="snoEdit"
                  class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-transparent focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                  readonly
                  disabled
                />
              </div>
              <div class="">
