{% extends "admin/base.html" %} {% block content %}
<div class="flex justify-center text-center">
  <h1 class="text-5xl font-bold">ADMIN PANEL</h1>
</div>

<div class="flex justify-center w-full">
  <div class="relative overflow-x-auto">
    <table class="text-sm text-left text-gray-500 w-[80vw]" id="blogs_table">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50">
        <tr>
          <th class="px-6 py-3">S.no</th>
          <th class="px-6 py-3">Title</th>
          <th class="px-6 py-3">Author</th>
          <th class="px-6 py-3">Short Description</th>
          <th class="px-6 py-3">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for blog in blogs_data %}
        <tr class="bg-white border-b">
          <th class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">{{ blog[0] }}</th>
          <td class="px-6 py-4">{{ blog[1] }}</td>
          <td class="px-6 py-4">{{ blog[5] }}</td>
          <td class="px-6 py-4">{{ blog[2] }}</td>
          <td class="px-6 py-4">
            <button type="button" id="{{ blog[0] }}" class="edit_blog_btn bg-yellow-400 hover:bg-yellow-500">Edit</button>
            <button type="button" id="{{ blog[0] }}" class="delete_blog bg-red-700 hover:bg-red-800">Delete</button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content w-[85vw]">
      <div class="modal-header flex justify-between">
        <h1 class="text-xl sm:text-3xl font-medium text-gray-900">Edit Blog</h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <form onsubmit="return edit_blog(event);">
          <div class="space-y-4">
            <label for="snoEdit" class="block text-sm text-gray-600">S.No</label>
            <input type="text" id="snoEdit" name="snoEdit" class="w-full bg-gray-100 border-gray-300 rounded py-1 px-3" readonly disabled />

            <label for="titleEdit" class="block text-sm text-gray-600">Title</label>
            <input type="text" id="titleEdit" name="titleEdit" class="w-full bg-gray-100 border-gray-300 rounded py-1 px-3" />

            <label for="short_descEdit" class="block text-sm text-gray-600">Short Description</label>
            <textarea id="short_descEdit" name="short_descEdit" class="w-full bg-gray-100 border-gray-300 rounded py-1 px-3"></textarea>

            <label for="image_urlEdit" class="block text-sm text-gray-600">Image URL</label>
            <input type="text" id="image_urlEdit" name="image_urlEdit" class="w-full bg-gray-100 border-gray-300 rounded py-1 px-3" />

            <label for="author_nameEdit" class="block text-sm text-gray-600">Author Name</label>
            <input type="text" id="author_nameEdit" name="author_nameEdit" class="w-full bg-gray-100 border-gray-300 rounded py-1 px-3" readonly disabled />

            <label for="blog_urlEdit" class="block text-sm text-gray-600">Blog URL</label>
            <input type="text" id="blog_urlEdit" name="blog_urlEdit" class="w-full bg-gray-100 border-gray-300 rounded py-1 px-3" />

            <label for="contentEdit" class="block text-sm text-gray-600">Blog Content</label>
            <strong>Note: You can use <a href="https://www.w3schools.com/TAGS/default.asp">HTML tags</a> and <a href="https://tailwindcss.com/docs/installation">TailwindCSS classes</a></strong>
            <textarea id="contentEdit" rows="6" name="contentEdit" class="w-full bg-gray-100 border-gray-300 rounded py-1 px-3" placeholder="<h1>Hi!</h1>"></textarea>

            <div class="preview-box text-center">
              <span class="text-4xl text-gray-600">Content Preview</span>
              <div class="preview-Editcontent text-2xl text-black mt-4"></div>
            </div>

            <button id="edit_blog_btn" class="w-[45%] mx-auto bg-indigo-500 text-white py-2 px-8 rounded hover:bg-indigo-600">Edit Blog</button>
          </div>
        </form>
        <button type="button" class="btn btn-secondary bg-gray-500" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

<script>
  $(document).ready(() => {
    $("#blogs_table").DataTable();
  });

  document.querySelectorAll(".delete_blog").forEach(button => {
    button.addEventListener("click", (e) => {
      const sno = e.target.id.trim();
      if (confirm("Are you sure you want to delete this submission!")) {
        fetch(`/api/admin/delete_blog?blog_id=${sno}`, { method: "GET" })
          .then(response => response.json())
          .then(data => {
            if (data.success) {
              alert("Blog has been deleted successfully");
              window.location.reload();
            } else {
              alert("Error: " + data.message);
            }
          });
      }
    });
  });

  document.querySelectorAll(".edit_blog_btn").forEach(button => {
    button.addEventListener("click", (e) => {
      const sno = e.target.id.trim();
      fetch(`/api/admin/fetch_blog_data_per_sno?sno=${sno}`, { method: "GET" })
        .then(response => response.json())
        .then(data => {
          if (data.success) {
            const blog_data = data.blog_data;
            document.getElementById("snoEdit").value = blog_data[0];
            document.getElementById("titleEdit").value = blog_data[1];
            document.getElementById("short_descEdit").value = blog_data[2];
            document.getElementById("contentEdit").value = blog_data[3];
            document.getElementById("author_nameEdit").value = blog_data[5];
            document.getElementById("image_urlEdit").value = blog_data[6];
            document.getElementById("blog_urlEdit").value = blog_data[7];
            $("#editModal").modal("toggle");
          } else {
            alert("Error: " + data.message);
          }
        })
        .catch(error => alert("Error: " + error));
    });
  });

  function edit_blog(e) {
    e.preventDefault();
    const blogData = {
      sno: document.getElementById("snoEdit").value,
      title: document.getElementById("titleEdit").value,
      short_desc: document.getElementById("short_descEdit").value,
      content: document.getElementById("contentEdit").value,
      author_name: document.getElementById("author_nameEdit").value,
      image_url: document.getElementById("image_urlEdit").value,
      blog_url: document.getElementById("blog_urlEdit").value
    };

    fetch("/api/admin/update_blog", {
      method: "POST",
      body: JSON.stringify(blogData),
      headers: { "Content-Type": "application/json" }
    })
    .then(res => res.json())
    .then(res => {
      if (res.success) {
        alert("Blog has been updated successfully");
        window.location.reload();
      } else {
        alert("Error: " + res.message);
      }
    })
    .catch(error => alert("Error: " + error));
  }

  document.getElementById("contentEdit").addEventListener("input", function () {
    document.querySelector(".preview-Editcontent").innerHTML = this.value;
  });
</script>
{% endblock %}
