<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>SecuerHack Blogs</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="w-screen overflow-x-hidden">
  <!-- Header Start -->
  <header class="text-gray-600 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0" href="/">
        <img src="/static/blog64.png" alt="Blog Logo" width="23%" height="auto" />
        <!-- <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-green-500 rounded-full" viewBox="0 0 24 24">
          <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
        </svg> -->
        <span class="ml-3 text-4xl text-nowrap">SecureHack Blogs</span>
      </a>
      <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
        <!-- <a class="mr-5 hover:text-gray-900">First Link</a>
        <a class="mr-5 hover:text-gray-900">Second Link</a>
        <a class="mr-5 hover:text-gray-900">Third Link</a>
        <a class="mr-5 hover:text-gray-900">Fourth Link</a> -->
        <!-- Use these links if needed -->
      </nav>
      <a class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-2xl mt-4 md:mt-0"
        href="./login">Login<svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
          stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
          <path d="M5 12h14M12 5l7 7-7 7"></path>
        </svg>
      </a>
    </div>
  </header>
  <!-- Header Ends -->


  <div class="block border shadow-xl m-auto w-[70vw]">
    <form action="/admin">
      <h1 class="text-center text-2xl font-bold p-4 m-4">Enter The password to access the admin panel</h1>
      <p for="passcode" class="p-4 text-xl ">Please Enter the admin access call code:</p><br>
      <input type="text" name="passcode" id="passcode" placeholder="Password...."
        class="p-4 rounded-xl w-[90%] bg-gray-200 mx-[50%] -translate-x-1/2 mt-0 mb-4"><br>
      <button type="submit"
        class="bg-teal-500 p-2 rounded-xl text-white px-4 w-[40%] mx-[50%] -translate-x-1/2 my-4">Take Me To Admin Page
      </button>
    </form>
  </div>



  <!-- Footer -->
  <footer class="text-gray-600 body-font">
    <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
      <a class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
        <img src="/static/blog64.png" alt="Blog Logo" width="23%" height="auto" />
        <span class="ml-3 text-xl">SecureHack Blogs</span>
      </a>
      <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">
        © 2024 SecureHack Blogs —
        <a href="" class="text-gray-600 ml-1" rel="noopener noreferrer" target="_blank">@securehack</a>
      </p>
    </div>
  </footer>
</body>

</html>