{% extends "admin/base.html" %} {% block content %}
  <div class="block border shadow-xl m-auto w-[70vw]">
    <form action="/admin/" method="POST">
      {% csrf_token %}
      <h1 class="text-center text-2xl font-bold p-4 m-4">Enter The Password to Access the Admin Panel</h1>
      <p class="p-4 text-xl">Please Enter the Admin Access Code:</p>
      <label for="passcode" class="sr-only">Password</label>
      <input type="password" name="passcode" id="passcode" placeholder="Password...."
        class="p-4 rounded-xl w-[90%] bg-gray-200 mx-[50%] -translate-x-1/2 mt-0 mb-4" required><br>
      <button type="submit"
        class="bg-teal-500 p-2 rounded-xl text-white px-4 w-[40%] mx-[50%] -translate-x-1/2 my-4">Take Me To Admin Page
      </button>
    </form>
  </div> 
{% endblock %}

