<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SecuerHack Blogs</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <!-- Header Start -->
    <header class="text-gray-600 body-font">
      <div
        class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center"
      >
        <a
          class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0"
          href="/"
        >
          <img
            src="/static/blog64.png"
            alt="Blog Logo"
            width="23%"
            height="auto"
          />
          <!-- <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-green-500 rounded-full" viewBox="0 0 24 24">
          <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
        </svg> -->
          <span class="ml-3 text-4xl text-nowrap">SecureHack Blogs</span>
        </a>
        <nav
          class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center"
        >
          <!-- <a class="mr-5 hover:text-gray-900">First Link</a>
        <a class="mr-5 hover:text-gray-900">Second Link</a>
        <a class="mr-5 hover:text-gray-900">Third Link</a>
        <a class="mr-5 hover:text-gray-900">Fourth Link</a> -->
          <!-- Use these links if needed -->
        </nav>
        <a
          class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-2xl mt-4 md:mt-0" id='login_href'
          href="./login"
          >Login<svg
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            class="w-4 h-4 ml-1"
            viewBox="0 0 24 24"
          >
            <path d="M5 12h14M12 5l7 7-7 7"></path>
          </svg>
        </a>
      </div>
    </header>
    <!-- Header Ends -->

    <!-- LOGIN STARTS -->
    <section class="text-gray-600 body-font">
      <form onsubmit="return login_user(event);">
        <div class="container px-5 py-24 mx-auto">
          <div class="flex flex-col text-center w-full mb-12">
            <h1
              class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900"
            >
              Welcome Back!
            </h1>
            <p class="lg:w-2/3 mx-auto leading-relaxed text-base">
              Please login to read hundreds of informative blogs for free!!
            </p>
          </div>
          <div class="w-full sm:w-[50%] mx-auto">
            <div class="">
              <label for="full-name" class="leading-7 text-sm text-gray-600"
                >Email</label
              >
              <input
                type="email"
                id="email"
                name="email"
                class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-transparent focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
              />
            </div>
            <div class="">
              <label for="email" class="leading-7 text-sm text-gray-600"
                >Password</label
              >
              <input
                type="password"
                id="password"
                name="password"
                class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-transparent focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
              />
            </div>
            <br />
            <button
              class="-translate-x-1/2 mx-[50%] w-[45%] text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg"
            >
              Login
            </button>
            <a
              href="./signup"
              class="-translate-x-1/2 mx-[38%] w-[45%] text-sm underline"
              >Or Sign Up</a
            >
          </div>
        </div>
      </form>
    </section>

    <!-- Footer -->
    <footer class="text-gray-600 body-font">
      <div
        class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col"
      >
        <a
          class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900"
        >
          <img
            src="/static/blog64.png"
            alt="Blog Logo"
            width="23%"
            height="auto"
          />
          <span class="ml-3 text-xl">SecureHack Blogs</span>
        </a>
        <p
          class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4"
        >
          © 2024 SecureHack Blogs —
          <a
            href=""
            class="text-gray-600 ml-1"
            rel="noopener noreferrer"
            target="_blank"
            >@securehack</a
          >
        </p>
      </div>
    </footer>
    <script>
      function login_user(event) {
        event.preventDefault();
        const email = document.getElementById("email").value;
        const password = document.getElementById("password").value;
        fetch("api/login?email=" + email + "&password=" + password)
          .then((response) => {
            return response.json();
          })
          .then((data) => {
            if (data.success === true) {
              alert("Login Successful");
              window.location.href = "/";
              window.localStorage.setItem("password", password);
              window.localStorage.setItem("isloggedin", "true");
              window.localStorage.setItem("email", email);
            } else {
              alert("Login Failed");
              alert(data.message);
            }
          });
      }
    </script>
  </body>
</html>
