{% extends "base.html" %} {% block content %}
<!-- CREATE BLOG STARTS -->
<section class="text-gray-600 body-font">
  <form onsubmit="return create_blog(event);">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col text-center w-full mb-12">
        <h1
          class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900"
        >
          Create Blog!
        </h1>
        <p class="lg:w-2/3 mx-auto leading-relaxed text-base">
          Just 1 step away from uploading your amazing blog!
        </p>
      </div>
      <div class="w-full sm:w-[50%] mx-auto">
        <div class="">
          <label for="title" class="leading-7 text-sm text-gray-600"
            >Title</label
          >
          <input
            type="text"
            id="title"
            name="title"
            class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-transparent focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
          />
        </div>
        <div class="">
          <label for="short_desc" class="leading-7 text-sm text-gray-600"
            >Short Description</label
          >
          <textarea
            id="short_desc"
            name="short_desc"
            class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-transparent focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
          ></textarea>
        </div>
        <div class="">
          <label for="image_url" class="leading-7 text-sm text-gray-600"
            >Image URL</label
          >
          <input
            type="text"
            id="image_url"
            name="image_url"
            class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-transparent focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
          />
        </div>
        <div class="">
          <label for="content" class="leading-7 text-sm text-gray-600"
            >Blog Content</label
          >
          <br />
          <strong
            >Note: You can use
            <i
              ><a href="https://www.w3schools.com/TAGS/default.asp">
                html tags</a
              ></i
            >
            and
            <a href="https://tailwindcss.com/docs/installation">
              <i> tailwindcss classes</i></a
            ></strong
          >
          <textarea
            id="content"
            rows="6"
            name="content"
            class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-transparent focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
            placeholder="<h1>Hi!</h1>"
          ></textarea>
          <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700" />
        </div>
        <br />
        <div
          class="preview-box flex flex-col justify-center text-center align-center"
        >
          <span class="text-4xl text-gray-600">Content Preview</span>
          <br />
          <div class="preview-content text-2xl text-black"></div>
        </div>
        <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700" />

        <button
          id = "create_blog_btn"
          class="-translate-x-1/2 mx-[50%] w-[45%] text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg"
        >
          Create Blog
        </button>
      </div>
    </div>
  </form>
</section>

<script>
  function create_blog(e) {
    e.preventDefault();
    const title = document.getElementById("title").value.replace(/</g, "&lt;").replace(/>/g, "&gt;");
    const short_desc = document.getElementById("short_desc").value.replace(/</g, "&lt;").replace(/>/g, "&gt;");
    const content = document.getElementById("content").value.replace(/</g, "&lt;").replace(/>/g, "&gt;");
    const image_url = document.getElementById("image_url").value.replace(/</g, "&lt;").replace(/>/g, "&gt;");
    const create_blog_btn = document.getElementById("create_blog_btn");
    
    create_blog_btn.disabled = true;

    fetch("api/create_blog", {
      method: "POST",  
      headers: new Headers({'content-type': 'application/json'}),
      body: JSON.stringify({ 
        title: title,
        short_desc: short_desc,
        content: content,
        image_url: image_url,
        blog_url: title.replace(/ /g, "-").toLowerCase(),
        author_uuid: localStorage.getItem("user_uuid"),
        author_name: localStorage.getItem("user_name"),
      }),
    }).then((response) => {
        return response.json();
      })
      .then((data) => {
        if (data.status === "success") {
          alert("Blog created successfully!");
          window.location.href = "/";
        } else {
          alert("Error creating blog! \n Please Try again later");
          alert(data.message);
        } 
      }).finally(() => {
        create_blog_btn.disabled = false;
      });
  }
</script>
<script>
  document.getElementById("content").addEventListener("input", function () {
    document.querySelector(".preview-content").innerHTML = this.value;
  });
</script>
{% endblock %}
