{% extends "base.html" %} {% block content %}
    <script>
        function handleLogout() {
            localStorage.removeItem('user_email');
            localStorage.removeItem('user_password'); // Removed from previous fix
            localStorage.removeItem('user_isloggedin');
            localStorage.removeItem('user_uuid');
            localStorage.removeItem('user_name');
            localStorage.removeItem('DidAdminLogInOnThisSystem');

            alert("You have been logged out successfully.");

            window.location.href = '/';
        }

        handleLogout();
    </script>
{% endblock %}

